.commentBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}
.commentBody h3{
    color: rgb(224, 107, 132);
}
.usercomment{
    display: flex;
    flex-direction: column;
    background: rgb(224, 107, 132);
    color: white;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
    margin: 8px 0px;
    overflow: hidden;
}
.usercomment div{
    width: 100%;
    display: flex;
    line-height: 1.2rem;
    word-wrap: break-word;
    word-break: break-word;
}
.usercomment div:nth-child(2){
    font-size: 0.7rem;
    margin-top: 7px;
}
.usercomment div span:nth-child(2){
    margin: 0px 4px;
}
.postYourComment, .postYourComment form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.postYourComment{
    padding: 15px 0px;
}
.postYourComment span{
    color:white;
    background: rgb(224, 107, 132);
    padding: 5px;
}
.postYourComment form input, .postYourComment form textarea{
    width: 100%;
    padding: 10px;
    border:none;
    color:rgb(224, 107, 132);
    border-bottom: 1px solid rgb(224, 107, 132);
    margin:8px 0px;
}
.postYourComment form textarea:focus, form input:focus{
    outline-color: rgb(224, 107, 132) !important;
    border-bottom: none !important;
}
.postYourComment form input::placeholder, .postYourComment form textarea::placeholder{
    color: rgb(224, 107, 132) !important;
}
.postYourComment form textarea{
    resize: none;
    height: 80px;
}
.postYourComment form button{
    padding:15px 10px;
    width: 100%;
    border:none;
    border-radius: 5px;
    background: rgb(224, 107, 132);
    color:white;
    transition: all 0.3s;
    cursor:pointer;
}
.postYourComment form button:hover{
    background: rgb(218, 83, 112);
}
.commentstatusmsg{
    padding: 15px 0px;
    color: rgb(218, 83, 112);
}
.commentstatusmsg mat-icon{
    font-size: 60px;
}
.commentLoader{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}