 <!-- <div class="animationLoading">
   <div id="container">
        <div id="one"></div>
        <div id="two"></div>
        <div id="three"></div>
    </div>]
    <div id="four"></div>    
    <div id="five"></div>
    <div id="six"></div> 
   
</div>-->
<div class="loadpost-animationLoading" *ngIf="type === 1">
    <div class="img-loader1">
        <div class="loadingPost-img"></div>
    </div>
    <div class="post-text-loader">
        <div class="loading-text3"></div>
        <div class="loading-text-30"></div>
        <div class="loading-text3"></div>
        <div class="loading-text"></div>
        <div class="loading-text"></div>
        <div class="loading-text"></div>
        <div class="loading-text"></div>
        <div class="loading-text"></div>
    </div>
</div>
<div class="Readpost-animationLoading" *ngIf="type === 2">
    <div class="img-loader">
        <div class="loading-img">
        </div>
    </div>
    <div class="text-loader">
        <div class="loading-text"></div>
        <div class="loading-text"></div>
        <div class="loading-text"></div>
        <div class="loading-text"></div>
        <div class="loading-text"></div>
        <div class="loading-text2"></div>
        <div class="loading-text3"></div>
        
    </div>
</div>
<div class="Readpost-animationLoading" *ngIf="type === 3">
    <div class="loading-text-cat"></div>
</div>