.animationLoading{
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9;
    border-radius: 3px;	
    display: block;
    height: 324px;
    width: 100%;
    padding: 12px;
  }
  @keyframes animate {
       0% {
          background-position: -468px 0
        }
        100% {
          background-position: 468px 0
        }
  
  }
  
  #container{
    width:100%;
    height:30px;
  }
  #one,#two,#three,#four,#five,#six
  {
    position:relative;
    background-color: #CCC;
    height: 6px;
    animation-name: animate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;	  
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;  
  }
  
  #one{  
    left:0; 
    height: 40px;
    width: 40px;  
  }
  
  #two{
    left:50px;
    top:-33px;
    width: 25%;
  }
  
  #Three{
    left:50px;
    top:-20px;
    width: 15%;
  }
  
  #four{
    left:0px;
    top:30px;
    width: 80%;
  }
  #five{
    left:0px;
    top:45px;
    width: 90%;
  }
  
  #six{
    left:0px;
    top:60px;
    width: 50%;
  }
  .Readpost-animationLoading, .loadpost-animationLoading{
    display: block;
    height: auto;
    width: 100%;
    padding: 12px;
  }
  
  .img-loader,.img-loader1, .text-loader, .post-text-loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }
.post-text-loader{
  justify-content: center;
  align-items: center;
}
  .img-loader, .img-loader1{
    justify-content: center;
    align-items: center;
  }
  .loading-img, .loading-text, .loading-text2, .loading-text3, .loading-text4, .loadingPost-img, .loading-text-30, .loading-text-cat
  {
    margin: 5px 0px;
    background-color: #CCC;
    /* height: 6px; moved */
    border-radius: 5px;
    animation-name: animate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;	  
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;  
  }
  .loading-img, .loading-text, .loading-text2, .loading-text3, .loading-text4, .loadingPost-img, .loading-text-30{
    height: 6px;
  }
  .loading-text-cat {
    height: 18px;
  }
.loading-img{
  width: 80%;
  height: 250px;
}
.loadingPost-img{
  width: 100%;
  height: 250px;
}
.loading-text{
    width: 100%;
  }
  .loading-text2{
    width: 80%;
  }
  .loading-text3{
    width: 60%;
  }
  .loading-text-30{
    width: 30%;
  }
  @media screen and (min-width: 1200px){
    .loadpost-animationLoading{
      display: flex;
      flex-direction: row;
      height: 400px;
    }
    .img-loader1{
      width:90%;
      height: 400px;
    }
    .loadingPost-img{
      height: 400px;
    }
    .post-text-loader{
      padding: 15px;
      width: 40%;
    }
  }